<ion-view view-title="Account">
  <ion-nav-bar class="bar-stable">
  </ion-nav-bar>
  <ion-content>
    <div class="list">
      <a class="item item-icon-left item-icon-right" href="#/app/profile" >
        <i class="icon ion-ios-person-outline"></i>
        Profile
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a class="item item-icon-left item-icon-right" href="#/app/settings" >
        <i class="icon ion-ios-gear-outline"></i>
        Settings
        <i class="icon ion-ios-arrow-right"></i>
      </a>     
    </div>
    <div class="row">
      <button ng-show="!g_auth" class="button button-block button-positive" ng-click="openLoginModal()">Log in</button>
      <button ng-show="g_auth" class="button button-block button-positive" ng-click="logout()">Log out</button>
    </div>
  </ion-content>
</ion-view>

