<ion-view view-title="Account">
  <ion-nav-bar class="bar-stable">
  </ion-nav-bar>
  <ion-content>
    <div class="list">
      <div class="item item-divider">
      </div>
      <a class="item item-thumbnail-left item-icon-right" href="#/app/profile" style="padding-bottom: 8px;min-height:64px;">
        <img ng-src="img/tn_md-4.png" style="width:80%; height:75%">
        <div class="col text-left">{{}}Simon</div>
        <div class="col text-left" style="font-size: 13px;">Hosty ID: {{  }} simon.jiyou@gmail.com</div>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <div class="item item-divider">
      </div>
      <a class="item item-icon-left item-icon-right" href="#/app/lists" >
        <i class="icon ion-ios-pricetags-outline"></i>
        My Listing
        <i class="icon ion-ios-arrow-right"></i>
      </a>      
      <div class="item item-divider">
      </div>
      <a class="item item-icon-left item-icon-right" href="#/app/settings" >
        <i class="icon ion-ios-gear-outline"></i>
        Settings
        <i class="icon ion-ios-arrow-right"></i>
      </a>     
      <div class="item item-divider">
      </div>
    </div>
    <div class="row">
      <button ng-show="!g_auth" class="button button-block button-positive" ng-click="openLoginModal()">Log in</button>
      <button ng-show="g_auth" class="button button-block button-royal" ng-click="logout()">Log out</button>
    </div>
  </ion-content>
</ion-view>

