<ion-view view-title="Account">
  <ion-nav-bar class="bar-stable">
  </ion-nav-bar>
  <ion-content>
    <div class="list">
      <div class="item item-divider">
      </div>
      <a class="item item-thumbnail-left item-icon-right" href="#/app/profile" style="padding-bottom: 8px;min-height:64px;">
        <img ng-src="img/tn_md-4.png" style="width:70%; height:75%">
        <div class="col text-left">{{ myAccountInfo.userName }}</div>
        <div class="col text-left" style="font-size: 11px;">Hosty ID: {{ g_auth.password.email }} </div>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <div class="item item-divider">
      </div>
      <a class="item item-icon-left item-icon-right" href="#/app/lists/{{myAccountInfo.userId}}">
        <i class="icon ion-ios-pricetags"></i>
        Listing
        <i class="icon ion-ios-arrow-right"></i>
      </a>      
      <div class="item item-divider">
      </div>
      <a class="item item-icon-left item-icon-right" href="#/app/following">
        <i class="icon ion-person-stalker"></i>
        Following
        <i class="icon ion-ios-arrow-right"></i>
      </a>            
      <a class="item item-icon-left item-icon-right" href="#/app/follower">
        <i class="icon ion-android-person-add"></i>
        Follower
        <i class="icon ion-ios-arrow-right"></i>
      </a>                  
      <div class="item item-divider">
      </div>      
      <a class="item item-icon-left item-icon-right" href="#/app/nearby">
        <i class="icon ion-ios-location"></i>
        Nearby
        <i class="icon ion-ios-arrow-right"></i>
      </a>     
      <div class="item item-divider">
      </div>
      <a class="item item-icon-left item-icon-right" href="#/app/settings">
        <i class="icon ion-ios-gear"></i>
        Settings
        <i class="icon ion-ios-arrow-right"></i>
      </a>     
      <div class="item item-divider">
      </div>
    </div>
    <div class="row">
      <button ng-show="!g_auth" class="button button-block button-positive" ng-click="openLoginModal()">Log in</button>
      <button ng-show="g_auth" class="button button-block button-royal" ng-click="logout()">Log out</button>
    </div>
  </ion-content>
</ion-view>

