<ion-modal-view ng-controller="AddFriendModalCtrl">
  <ion-header-bar>
    <h1 class="title">Follow people</h1>
    <div class="buttons">
      <a class="button button-icon icon ion-ios-close-empty" ng-click="close()"></a>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="searchFriendById(searchUserId)">
      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon balanced"></i>
          <input type="text" placeholder="Hosty ID" ng-model="searchUserId">
        </label>
      </div>
    </form>

    <div ng-if="alert === null">
      <ion-list>
        <div><br></div>
        <ion-item ng-repeat="friend in myFriendSearchResult" class="item-thumbnail-left">
          <img ng-src="img/thehosty.ico.png" style="width: 75%; height: 80%">
          <div class="row">
            <div class="col col-70">
              <div class="col text-left">{{ friend.name }}</div>
              <div class="col text-left" style="font-size: 11px;">Hosty ID: {{ friend.userId }} </div>
            </div>
            <div class="col col-25 text-center">
              <button class="button icon ion-person-add" ng-click="follow(friend.userId)"></button>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </div>
    <div ng-if="alert !== null">
      <br><br><br><br><br>
      <p class="text-center">{{ alert }}</p>
    </div>
  </ion-content>
</ion-modal-view>
