<ion-modal-view ng-controller="AddFriendModalCtrl">
  <ion-header-bar>
    <h1 class="title">Follow people</h1>
    <div class="buttons">
      <a class="button button-icon icon ion-ios-close-empty" ng-click="close()"></a>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="searchFriend()">
      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon balanced"></i>
          <input type="text" placeholder="Hosty ID" ng-model="userId">
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
