<ion-view view-title="Chats">
  <ion-nav-bar class="bar-stable">
  </ion-nav-bar>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="peer in chatsList" class="item-thumbnail-left" style="padding-bottom: 0px;padding-top: 0px; min-height:50px !important;padding-left: 60px;" ng-click="chat(peer.peerId)">
        <img ng-src="img/thehosty.ico.png" style="max-width: 48px;max-height: 38px;">
        <div class="row" style="padding-top: 1px;padding-bottom: 1px;">
          <div class="col col-85" style="padding-top: 2px;padding-bottom: 0px;">
            <div class="col text-left" style="padding-bottom: 0px;">{{ peer.peerName }}</div>
            <div class="col text-left" style="font-size: 11px;padding-top:0px;">Hosty ID: {{ peer.peerId }} </div>
          </div>
<!--          
          <div class="col col-10">
            <button class="button button-small icon ion-ios-chatbubble" ng-click="chat(peer.userId, $event)"></button>
          </div>
-->          
        </div>
      </ion-item>
    </ion-list>  
  </ion-content>
</ion-view>

