<style>
  .arrow-down {
    height:0px;
    width:0px;
    border:none;
    border-top:5px solid #000000;
    border-left:5px solid rgba(0,0,0,0);
    border-right:5px solid rgba(0,0,0,0);
  }
  .custom-icon {
    size: 18px;
    color : black;
  }  
}
</style>
<ion-view>
  <ion-nav-bar class="bar-stable">
    <ion-nav-title ng-click="navTitleClicked()">theHosty</ion-nav-title>
    <ion-nav-buttons side="left">
      <a ng-click="openAddFriendDialog()" class="button button-icon icon ion-ios-personadd-outline"></a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <a href="#/app/home/search" class="button button-icon icon ion-ios-search custom-icon"></a>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-nav-view name="homeContent"></ion-nav-view>

</ion-view>