<ion-view view-title="theHosty">
<ion-content>
  <b>My location: [ {{cur_lat}}, {{cur_lon}} ]</b> <br>
  <b>My city: [ {{cur_city}} Calgary ]</b>
  <ion-list>
    <ion-item ng-repeat="area in myListings" style="padding-bottom: 1px;padding-top: 1px;padding-left: 0px;padding-right: 0px;">
    <div class="row" style="padding-left: 0px;padding-right: 0px;">
      <div class="col col-25">
        <p style="font-size: 14px;padding-top: 30px;padding-right: 0px;padding-bottom: 20px;padding-left: 0px;">Downtown</p>
      </div>   
      <div class="col col-65" style="padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;">
        <p style="font-size: 12px;" flex> Today new listing: {{ area.todayListing }} 22</p>
        <p style="font-size: 12px;" flex> Total listing: {{ area.totalListing }} 120 </p>
        <p style="font-size: 12px;" flex> Apartments: {{ area.singleBedListing }} 23 </p>
        <p style="font-size: 12px;" flex> Houses: {{ area.twoBedListing }} 60 </p>
      </div>
<!--      
      <div class="col col-10" style="padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;">
        <ion-list>
          <ion-item style="border: none;font-size: 24px;min-height: 20px;padding-left: 0px;padding-top: 10px;padding-right: 0px;padding-bottom: 0px;">
            <a><i class="icon ion-ios-location-outline" ></i></a>
          </ion-item>
          <ion-item style="border: none;font-size: 24px;min-height: 20px;padding-left: 0px;padding-top: 15px;padding-right: 0px;padding-bottom: 0px;">
            <a><i class="icon ion-ios-list-outline" ></i></a>
          </ion-item>              
        </ion-list>        
      </div>
-->      
      <i class="icon ion-ios-arrow-right" style="border: none;font-size: 24px;min-height: 24px;padding-left: 0px;padding-top: 35px;padding-right: 8px;padding-bottom: 0px;"></i>
    </div>
    </ion-item>
  </ion-list>
</ion-content>
</ion-view>