<style>
select {
  border: none;
  outline: none;
}
</style>
<ion-view view-title="New Space">
<ion-nav-bar class="bar-stable">
  <ion-nav-back-button class="button-clear" ng-click="goBack()">
    <i class="ion-ios-arrow-back"></i>
  </ion-nav-back-button>
</ion-nav-bar>

<ion-content>
  <form ng-submit="add(spaceInfo)" >
    <div class="row">
      <div class="col item item-input item-select">
        <div class="input-label">Beds</div>
        <select ng-model="spaceInfo.beds" style="padding-top: 7px;padding-bottom: 7px;">
          <option ng-repeat="v in presetBeds" value="{{v}}">{{v}}</option>
        </select>       
      </div>
      <div class="col item item-input item-select">
        <div class="input-label">Baths</div>
        <select ng-model="spaceInfo.baths" ng-options="v for v in presetBaths" style="padding-top: 7px;padding-bottom: 7px;"></select>
      </div>
    </div>
    <div class="row">
      <div class="col item item-input item-select">
        <div class="input-label">City</div>
        <select ng-model="spaceInfo.city" ng-options="v for v in presetCity" style="padding-top: 7px;padding-bottom: 7px;"></select>
      </div>
    </div>    
    </div>
    <div class="row">
      <div class="col text-left item item-input">
        <input type="text" placeholder="Address" ng-model="spaceInfo.address">
      </div>
    </div>
    <div class="row">
      <div class="col text-left item item-input">
        <input type="text" placeholder="Postcode" ng-model="spaceInfo.postcode">
      </div>
    </div>
    <div class="row">
      <div class="col text-left item item-input">
        <input type="text" placeholder="Price" ng-model="spaceInfo.price">
      </div>
    </div>
    <div class="row">
      <div ng-show="alert!==''">
        <p style="color: red; size=0.8em;">{{alert}}</p>
      </div>            
    </div>
    <div class="row">
      <button class="button button-block button-positive" type="submit">Add</button>             
    </div>
    
  </form>
</ion-content>
</ion-view>