<ion-modal-view ng-controller="LoginModalCtrl">
  <ion-header-bar>
    <h1 class="title">Join theHosty</h1>
    <div class="buttons">
      <a class="button button-icon icon ion-ios-close-empty" ng-click="closeLogin()"></a>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin(loginData)">
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="Email" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="loginData.password">
        </label>             
        <div ng-show="alert!==''">
          <p style="color: red; size=1em;">{{alert}}</p>
        </div>
        <div>
          <button class="button button-block button-positive" type="submit">Sign in</button>             
        </div>
<!--
        <div class="row">
          <div class="col text-left">
            <a href="#/app/forgot-password" style="padding-left: 0px; text-decoration: none">Forgot password?</a>
          </div>
          <div class="col text-right">
            <a ng-click="enterSignup()" style="text-decoration: none">Join now</a>
          </div>
        </div>
-->
        <div class="button-bar">
          <div class="col text-left">
          <a href="#/app/forgot-password" style="color: black; text-decoration: none;">Forgot password?</a>
          </div>
          <div class="col text-right">
          <a ng-click="enterSignup()" style="text-decoration: none">Join now</a>
          </div>
        </div>
        
      </div>
    </form>
  </ion-content>
</ion-modal-view>
