<ion-nav-view name="menuContent"></ion-nav-view>
<div class="tabs tabs-icon-top">
  <a class="tab-item" href="#/app/home"><i class="icon ion-ios-home-outline"></i>theHosty</a>
  <a class="tab-item" href="#/app/favoriates"><i class="icon ion-ios-star-outline"></i>Favorites</a>
<!--  
  <a class="tab-item" href="#/app/lists"><i class="icon ion-ios-list-outline"></i>Listings</a>
-->  
  <a class="tab-item" href="#/app/messages"><i class="icon ion-ios-chatboxes-outline"></i>Chats</a>
  <a class="tab-item" href="#/app/account"><i class="icon ion-ios-person-outline"></i>Me</a>
</div>
