<style>
  .icon-green {
    color: green;
  }
</style>
<ion-nav-view name="menuContent"></ion-nav-view>
<div class="tabs tabs-icon-top">
  <a class="tab-item" href="#/app/home/root" ng-class="{'balanced': $state.is('app.home.root')}"><i ng-class="{'icon ion-ios-home balanced': $state.is('app.home.root'), 'icon ion-ios-home-outline': !$state.is('app.home.root')}"></i>theHosty</a>
  <a class="tab-item" href="#/app/favoriates" ng-class="{'balanced': $state.is('app.favoriates')}"><i ng-class="{'icon ion-ios-heart balanced': $state.is('app.favoriates'), 'icon ion-ios-heart-outline': !$state.is('app.favoriates')}"></i>Favorites</a>
  <a class="tab-item" href="#/app/messages" ng-class="{'balanced': $state.is('app.messages')}"><i ng-class="{'icon ion-ios-chatboxes balanced': $state.is('app.messages'), 'icon ion-ios-chatboxes-outline': !$state.is('app.messages')}"></i>Chats</a>
  <a class="tab-item" href="#/app/account" ng-class="{'balanced': $state.is('app.account')}"><i ng-class="{'icon ion-ios-person balanced': $state.is('app.account'), 'icon ion-ios-person-outline': !$state.is('app.account')}"></i>Me</a>
</div>
