<ion-view view-title="Sign up">
<ion-content>
<!--
  <ion-header-bar>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeSignup()">Close</button>
    </div>
  </ion-header-bar>
-->  
  <form ng-submit="doSignup(userInfo)">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="email" placeholder="Email" ng-model="userInfo.username" required>
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="userInfo.password" required>
      </label>             
      <label class="item item-input">
        <input type="password" placeholder="Confirm Password" ng-model="userInfo.confirmPassword" required>
      </label>
      <div ng-show="alert!==''">
        <p style="color: red; size=0.8em;">{{alert}}</p>
      </div>            
      <div>
        <button class="button button-block button-positive" type="submit">Register</button>             
      </div>
    </div>
  </form>    
</ion-content>
</ion-view>